# Helm package files
*.tgz

# Generated helm files
values.local.yaml
values.override.yaml

# Helm test files
__snapshot__/
__snapshots__/

# Helm release files
.release/

# Helm generated documentation
*.md.bak

# Local development values
values.dev.yaml
values.local.yaml

# Helm secrets
secrets/
*secret*.yaml
*secrets*.yaml

# Temporary files
.helm/

.DS_Store

all-secrets.yaml
quay-image-pull-secret.yaml

values-experiment.yaml

.cr-release-packages/

env-files
.env
.env*

postgres_data

*.tar

design-docs

serial.log
base_images

*.qcow2
